<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    nav {
      background-color: #333;
      color: #fff;
      padding: 30px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-size: 1.5rem;
    }

    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    .menu li {
      margin-right: 20px;
    }

    .menu li a {
      text-decoration: none;
      color: #fff;
    }

    .user-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    .user-menu li {
      margin-right: 10px;
    }

    .user-menu li a {
      text-decoration: none;
      color: #fff;
    }

    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .bdy {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      height: 100vh;


    }

    .forms {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      box-shadow: inset 0 0 10px #eee4e4;
      width: 400px;

      background-color: white;
    }

    a {
      text-decoration: none;
      color: white;

    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      margin-right: 22px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 12px;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <nav>
    <div class="logo">URL Shortener</div>
    <ul class="menu">
      <li><a href="#">Home</a></li>

      <li><a href="#">About</a></li>
    </ul>
    <ul class="user-menu">
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </nav>
  <div class="bdy">

    <div class="forms">
      <h1>Login</h1>
      <form action="/user/login" method="post">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required autocomplete="new-password" />

        <button type="submit">Login</button>
        <h2>Or</h2>
        <button><a href=""> Signup</a>
        </button>
      </form>
    </div>
  </div>
</body>

</html>